[package]
name = "identity"
version = "0.1.0"
authors = ["Markus Merklinger <markus.merklinger@code.berlin>"]
edition = "2018"

[lib]
name = "identity_rpc_service"
path = "src/rpc/service.rs"

[dependencies]
log = "0.4.11"
env_logger = "0.7.1"
dotenv = "0.15.0"
envconfig = "0.8.0"
envconfig_derive = "0.8.0"
tokio = { version = "0.2", features = ["full"] }
diesel = { version = "1.4.5", features = ["postgres", "r2d2" ] }
once_cell = "1.4.0"
tarpc = { version="0.21.0", features = ["full"] }
futures = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.58"
tokio-serde = { version = "0.6", features = ["json"] }
hyper = "0.13.7"
hyper-tls = "0.4.3"
jsonwebtoken = "7.2.0"
