[package]
name = "identity"
version = "0.1.0"
authors = ["Markus Merklinger <markus.merklinger@code.berlin>"]
edition = "2018"

[dependencies]
log = "0.4.11"
env_logger = "0.7.1"
dotenv = "0.15.0"
envconfig = "0.8.0"
envconfig_derive = "0.8.0"
tokio = { version = "0.2", features = ["full"] }
diesel = { version = "1.4.5", features = ["postgres", "r2d2" ] }
once_cell = "1.4.0"
