[package]
name = "identity"
version = "0.1.0"
authors = ["Markus Merklinger <markus.merklinger@code.berlin>"]
edition = "2018"

[lib]
name = "identity_rpc_service"
path = "src/rpc/service.rs"

[dependencies]
diesel = { version = "1.4", features = ["postgres", "r2d2"] }
dotenv = "0.15"
env_logger = "0.7"
envconfig = "0.9"
futures = "0.3"
hyper = "0.13"
hyper-tls = "0.4"
jsonwebtoken = "7.2"
log = "0.4"
once_cell = "1.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tarpc = { version = "0.22", features = ["full"] }
tokio = { version = "0.2", features = ["full"] }
tokio-serde = { version = "0.6", features = ["json"] }
